<nav class="navbar navbar-default">
  <div class="container">
    <!-- Mobile stuff -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle Nav</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%if(!currentUser) {%>
        <a class="navbar-brand" href="/">
          <img alt="Brand" id="navBrand" src="/img/globe.png">
        </a>
       <%}else{%>
      <a class="navbar-brand" href="/main/profile"><%= currentUser.firstname+ " " +currentUser.lastname%></a>
      <%}%>
    </div>

    <!-- Define the links -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <%if(!currentUser) {%>
        <li>
          <a href="/auth/login" class="navlink">Login</a>
        </li>
        <li>
          <a href="/auth/signup" class="navlink">Sign Up</a>
        </li>
        <%}else{%>
        <li>
          <a href = "/visuals/new" class="navlink">Search Data</a>
        </li>
        <li>
          <a href = "/contributions/all" class="navlink">Contributions</a>
        </li>
        <li>
          <a href="/tags/all" class="navlink">Data Tags</a>
        </li>
        <li >
          <a href="/auth/logout" class="navlink">Log Out</a>
        </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>