<div class="formContainer" id="dataEntryFormContainer">
	<div class="formHeaderContainer">
		<h2 class="text-center formHeader"> Choose Dataset </h2>
	</div>
	<form method="post" action="/visuals" id="dataInput">
		<div class="form-group" id="zipCodeSelection">
			<div class="block">
				<span id="zip1"><label for="zipcode1">Zip Code:</label></span>
			  	<input name="zipcode1" type="text" placeholder= "5-digit Zipcode" pattern= "[0-9]{5}" class="zipInput" required/>
		  	</div>
		  	<div class="block">
				<span id="zip2"><label for="zipcode2">Comparison Code:</label></span>
			  	<input name="zipcode2" type="text" placeholder= "5-digit Zipcode" pattern= "[0-9]{5}" class="zipInput" required/>
		  	</div>
  		</div>
		 <div class="form-group" id="inputData">
		 	<span id="floatleft">Select Year:</span>
		 	<div id="yearInputButtons">
			    <label class="block" for="2010">
			    <input type="radio" id="2010"
			     name="year" value="2010" required>2010</label>
			    <label class="block" for="2011">
			    <input type="radio" id="2011"
			     name="year" value="2011" required>2011</label>
			    <label class="block" for="2012">
			    <input type="radio" id="2012"
			     name="year" value="2012" required>2012</label>
			    <label class="block" for="2013">
			    <input type="radio" id="2013"
			     name="year" value="2013" required>2013</label>
			    <label class="block" for="2014">
			    <input type="radio" id="2014"
			     name="year" value="2014" required>2014</label>
		 	</div>
		</div>
		<div class="form-group" id="dataTopicsAvailable">
			<span id="alignleft1">Select Data Topic:</span>
			<select name="topic1" id="topic1" required>
				<option></option>
			</select>
			<br>
			<br>
			<span id="alignleft2">Select Comparison Data Topic:</span>
			<select name="topic2" id="topic2" required>
				<option></option>
			</select>
		</div>
  		<input type="submit" value="View Data" class= "btn btn-success customBtn">
    </form>
 </div>
