<div class="formContainer">
	<div class="formHeaderContainer">
		<h2 class="text-center formHeader"> Choose Dataset </h2>
	</div>
	<form method="post" action="/visuals" id="dataInput">
		<div id="entry1">
			<div class="form-group">
				<label for="zipcode1">Zip Code:</label>
			  	<input name="zipcode1" type="text" placeholder= "Zip Code" pattern= "[0-9]{5}" required/>
	
				<label for="zipcode2">Comparison Code:</label>
			  	<input name="zipcode2" type="text" placeholder= "Zip Code" pattern= "[0-9]{5}" required/>
	  		</div>
			 <div class="form-group">
			    <label for="2010">2010</label>
			    <input type="radio" id="2010"
			     name="year" value="2010" required>
			    <label for="2011">2011</label>
			    <input type="radio" id="2011"
			     name="year" value="2011" required>
			    <label for="2012">2012</label>
			    <input type="radio" id="2012"
			     name="year" value="2012" required>
			    <label for="2013">2013</label>
			    <input type="radio" id="2013"
			     name="year" value="2013" required>
			    <label for="2014">2014</label>
			    <input type="radio" id="2014"
			     name="year" value="2014" required>
			    <label for="2015">2015</label>
			    <input type="radio" id="2015"
			     name="year" value="2015" required>
			</div>
			<div class="form-group">
				<select name="topic1" id="topic1">
					<option> Select Data Topic: </option>
				</select>
				<br>
				<br>
				<select name="topic2" id="topic2">
					<option> Select Comparison Data Topic: </option>
				</select>
			</div>
		</div>			
		<input type="submit" value="View Data" class= "btn btn-success customBtn">

  	</form>
  </div>