
<div id="landingPage">
	<div id ="layer" >
		<h1 id="homepageTitle">Explore Census Data</h1>
		<h2 id="homepageSubTiltle">Dive into authoritative data. Discover realtionships. Learn from others.</h2>
	
	<div class="dataExplanation">
		<h3 class="explanationTitle">Why Census Data?</h3>
		<p>Data outreach is a key component of the citizen experience for Census. Data collected through the census is a means at exploring the correlation between variables and identifying casual relationships. This tool sets out to make data easier to use and improve the feedback loop between the public and Census. </p>
	</div>
	<div class="dataExplanation">
		<h3 class="explanationTitle">Why Contribute?</h3>
		<p> Consumers of data have a responsibilty to contribute to the feedback loop of information in order to share their observations and help others learn. 
		</p>
	</div>
	</div>
</div>