<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exploration Tool for Census Data</title>  
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include partials/navbar %>
          <%include partials/alerts%>
          <%- body %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/states.js"></script>
    <script type="text/javascript" src="/js/data_topics.js"></script>
    <script type="text/javascript" src="/js/data_options.js"></script>
  </body>
</html>
