/***********************/
/* Overall Styling
/***********************/
body {
  font-family: 'Barlow', sans-serif;
  margin: auto;
  position: relative;
  margin: 20px;
  height: 100%;
}


hr { 
    display: inline-block;
    width: 950px;
    border-style: inset;
    border-width: .5px;
    border-color:#9e9c9c;
} 

/***********************/
/* Nav Bar Styling
/***********************/
.navbar {
    margin-bottom: 0;
} 

/***********************/
/* Data Entry Form 
/***********************/
#landingPage{
    height: 300px;
    width: 100%;
    background-image: url('/img/skyline.jpg');
    background-size: cover;
    background-position: center;
    color:white;
}

.layer {
    text-align:center;
    background-color: rgba(50, 50, 50, 0.7);
    width: 100%;
    height: 100%;
    line-height: 300px
}

/***********************/
/* Data Entry Form 
/***********************/
#entry1 {
	float:left;
	margin: auto 0;
}


#entry2 {
	float:right;
	margin: auto 0;
}


/***********************/
/* Data Visual Container
/***********************/

/*********************/
/*Tree Visual Styling*/
/*********************/
    rect {
        stroke: white;
        fill: #05668D;
        opacity: 0.3;
        stroke-width: 2px;
    }


/*********************/
/* Contribution Container
/*********************/
