/***********************/
/* Overall Styling
/***********************/
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  position: relative;
  height: 100%;
  margin:0;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

a {
  color:white;
}

h3 {
  font-size: 24px;
  font-weight: 650;
  color: #323a45;
}

p {
  font-size: 16px;
  color: #323a45;
  text-align: justify;;

}

.btn {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 350;
  padding: 10px 20px 10px 20px;
  background-color: #126796;
  color: white;
  border: none;
}

.btn:hover {
  background-color: #126796;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/***********************/
/* Nav Bar Styling
/***********************/
.container {
  margin: 0;
}
.navbar {
    margin: 0;
    background-color: #323a44;
    color: white;
} 

#navBrand{
  width: 25px;
  height: 25px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase !important;
}

.navbar-header{
  background-color: #323a44;
  color: white;
  margin: 0;
}

.navlink {
  font-size: 20px;
  font-weight: 400;
  color:white !important;
  text-transform: uppercase !important;
}


/***********************/
/* Landing Page
/***********************/
#landingPage{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1;
  background-image: url('/img/skyline.jpg');
  background-size: cover;
  color:white;
}

#layer {
  display:block;
    height: 700px;
    width: 100%;
    text-align:center;
    background-color: rgba(50, 50, 50, 0.8);
    background-size: cover;
}

#homepageTitle{
  margin: 0;
  padding-top:80px;
  font-size: 40px;
  font-weight: 600;
}

#homepageSubTiltle{
  font-size: 20px;
  font-style: italic;
  margin-bottom: 30px;
}

.dataExplanation {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 3px;
  background-color: rgba(247,247,245,.8);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.explanationTitle{
  padding-bottom: 15px;
}

.footerText {
  height: 50px;
  background-color: #323a44;
  margin-top: auto;
}


#homeFooterText {
  line-height: 50px;
  font-size: 16px;
  font-weight: 350;
  text-align: center;
  text-transform: uppercase;
  color:white;
}
/***********************/
/* Home Page (main)
/***********************/

#mainPageContainer{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-top: 100px;
  overflow:hidden;
  z-index:-1;
  background-image: url('/img/map1.png');
  background-size: cover;
}

#mainPageContent{
  margin-top: 100px;
  z-index:1;
  opacity: 1;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

#mainPageIntro{
  color: #323a44;
  margin-left: 35px;
  margin-right: 35px;
}

#mainPageTitle{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}


#mainPageToolInfo {
  margin-left: 35px;
  margin-right: 35px;
}

.toolExplanationTitle {
  margin: 0;
  padding: 0;
}

.homePageForm{
  margin: 20px;
}

.dataInstructions {
  font-size: 16px;
}

#getStarted{
   display: flex;
  align-items: center;
  justify-content: center;
}


/***********************/
/* Data Entry Form 
/***********************/

#dataEntryForm{
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #e8e8e8;
  border: 1px solid #6f7376;
  border-radius: 5px;
  padding: 10px;
}
#dataInput {
	margin-top: 20px;
  font-size: 18px;
  text-align: center;

}


#entry2 {
	float:right;
	margin: auto 0;
}
/********************************************************/
/* /Visuals/Viaul */
/********************************************************/

#mainDataContainer {
  width: 90%;
  margin:auto !important;
  margin-top: 10px;
}

.rowHeaderText{
  background-color: #c5c6c2;
  border-radius: 5px;
}

.cityZipHeader{
  text-align: center;
  margin-top: 20px;
  font-size: 24px; 
  color: #333333; 
  margin: 0px;
}

.yearHeader{
  text-align:center;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
  color: #333333; 
}

/***********************/
/* Table */
/***********************/

.overallStatsTable {
  border: .5px solid #c5c6c2;
}

table {
  margin: 0px !important;
}
tr {
  padding: 5px !important;
}

td {
  padding-left: 5px !important;
  padding-bottom: 0px;
}

/*********************/
/* Data Viz Container
/*********************/
.visualtopicHeading {
  text-align: center;
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  color: #323a44;

}

#leftContainer {
  padding-top: 10px;
}

#rightContainer {
  padding-top: 10px;
}
/*********************/
/*Bar Chart  Styling*/
/*********************/
#barChart_data1_viz1 {
  text-align: center;
}

#barChart_data2_viz1 {
  text-align: center;
}

/*********************/
/* Contribution Container (visual page - "Make a contribution")
/*********************/

.formContainer {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  background-color: #edefec;
  border: 1px solid #6f7376;
  border-radius: 5px;
}

.formHeaderContainer {
  margin-bottom: 10px;
  width: 100%;
  background-color: #323a44;
  color: white;
  font-weight: 600;
}

.formHeader {
  font-size: 26px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
}

.contFormLabel {
  color: #323a44;
  font-size: 18px;
}

.form-group{
  margin-left: 10px;
  margin-right: 10px;
}


.customBtn {
  margin: 10px;
  float: right;
}

.dataTags {
  color: #f37a4d;
}

/***************************/
/* All Contributions */
/***************************/

ul.contributionList {
list-style-image: url('/img/small_globe.png');
}

.contributionContent{
  color: #323a44;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}
.contributionLink{
  color: #f37a4d;
  font-weight:600;
  font-size: 28px;
}

#listItemHR {
  margin-right: 20px;
  border-top: 1px solid #323a44;
}

/***************************/
/* Single Contributions */
/***************************/

.dataObservationContent {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 30px;
}
