<div class="formContainer">
	<div class="formHeaderContainer">
		<h2 class="text-center formHeader">Observations to Date:
		</h2>
	</div>
<% if(contribution.length <=0){ %>
	<h2> You haven't made any contributions!</h2>
<%} else {%>
    <% contribution.forEach(function(item){ %>
    <div class = "dataContributions">
	    <ul class="contributionList">
	    	<li>
	    		<a class ="contributionLink" href="/contributions/<%= item.id %>">
				<%= item.title %>
				</a>
				<p class="contributionContent"><%=item.content %></p>
				<em>Written: <%=moment(item.createdAt).calendar() %>
				</em>
			</li>
			<hr id ="listItemHR">
		</ul>
	</div>
    <%});%>
<%}%>