<% if(contribution.length <=0){ %>
	<h2> You haven't made any contributions!</h2>
<%} else {%>
    <% contribution.forEach(function(item){ %>
    <div class="formContainer">
		<div class="formHeaderContainer">
			<h2 class="text-center formHeader"><%= item.title %>
			</h2>
		</div>
    	<div class = "dataContributions">
			<p class="contributionContent"><%=item.content %></p>
			<div class="contributionFooter">
				<a class ="contributionLink" href="/contributions/<%= item.id %>"> View Contribution</a>	
				<span class="align-right"> <em>Written: <%=moment(item.createdAt).calendar() %>
				</em></span>
			</div>
		</div>
	</div>
    <%});%>
<%}%>

