
<div>
	<h1>
		Commerce Data Made Accessible
	</h1>
	<h2> 
		This interactive tool will allow you to accesible zipcode level data  provided by the US Census Bureau to understand the relationship of data and the impact it may have on the population of the selected area.
	</h2>
	<div id="dataTopicsList">
			Areas to explore:
		<ul>
			<li>Poverty</li>
			<li>Demographic Distribution</li>
			<li>Education</li>
			<li>Employment</li>
			<li>Commute</li>
		</ul>
	</div>

</div>

	<hr>
	<div>
		<a href="/visuals/new">Get Started</a>
	</div>
</div>
