<div id = "mainPageContainer">
	<div id="mainPageContent">
		<div id="mainPageIntro">
			<h1 id="mainPageTitle">
				Visualize Census Data
			</h1>
			<p> This application utilizes CitySDK: a tool built by the Census Bureau in order to make authoritative data on the nation's people and the economy more accesible to the technology community. CitySDK is a valuable resource for raw data enabling city planners and development officers to better allocate their investments and optimize their businesses. The tool formats and organizes the data in such a way that it is aimed to be accessed by the tech community. </p>
			<br>
			<p>This tool complements the CitySDK adding a visual component allowing users explore different sub-data sets of the US Census and begin to understand casual relationships between the data collected.</p>
		</div>
		<div id="mainPageToolInfo">
			<h3 id="toolExplanationTitle"> Using the tool is simple: </h3>
			<ol>
				<li class="dataInstructions"> Choose two zipcodes of interest</li>
				<li class="dataInstructions"> Selected the year to explore
				</li>
				<li class="dataInstructions">
					Choose two topics of census data
				</li>
			</ol>
		</div>
		<div id="dataTopicsList">
		</div>
		<hr class="darkHR">
		<div id="getStarted">
				<div>
				<a href="/visuals/new">Get Started</a>
		</div>
	</div>
</div>
