<div id = "mainPageContainer">
	<div id="mainPageContent">
		<div id="mainPageIntro">
			<h1 id="mainPageTitle">
				Census Data Made Accessible
			</h1>
			<p> This application utilizes CitySDK: a tool built by the Census Bureau in order to make authoritative data on the nation's people and the economy more accesible to the technology community. CitySDK is a valuable resource for raw data; however, it's complexities and volumes of data are not accesibable for the generable public. This tool allows users to explore different topics of census data and begin to understand casual relationships between the data collected.  
		</div>
		<div id="mainPageToolInfo">
			<h3 class="explanationTitle"> How to use the Tool: </h3>
				<p>Choose two zipcodes of personal interest</p>
				<p> Selected the year of data to explore
				</p>
				<p>
					Choose two topics of data you would live to explore
				</p>
		</div>
			<div id="dataTopicsList">
					Areas to explore:
				<ul>
					<li>Poverty</li>
					<li>Demographics</li>
					<li>Education</li>
					<li>Employment</li>
					<li>Commute</li>
				</ul>
			</div>

		</div>

			<hr>
			<div>
				<a href="/visuals/new">Get Started</a>
			</div>
		</div>
	</div>
</div>
