
<div class="formContainer">
	<div class="formHeaderContainer">
		<h2 class="text-center formHeader">
			Data Tags Searched:
		</h2>
	</div>
	<% if(tags.length <=0){ %>
		<h2> You haven't search any data yet. There are no current favorited data tags.</h2>
	<%} else {%>
		<% tags.forEach(function(t){ %>
		<div class = "dataContributions">
			<ul class="contributionList">
	    		<li>
				<a class="contributionLink" href="/tags/<%=t.id%>"><%= t.content %>
				</a>
			</li>
		</div>
	<% }); %>
<% } %>
